* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    margin: 0;
    
}
header {
    position: sticky;
    top: 0;
    width: 100%;
}
#nav-bar {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-list li {
    list-style-type: none;
    display: inline;
    margin-right: 2rem;
    font-size: 1.1rem;
    
}
a {
    text-decoration: none;
    color:#fff;
}

#nav-bar h3 {
    margin-left: 2rem;
    font-size: 1.8rem;
}
#about {
    margin: 15rem auto;
    width: 50%;
    color: white;
}
#about h1 {
    text-align: left;
    font-size: 4rem;
}
#about p {
    font-size: 1.5rem;
}
#about-background {
    background-color: black;
    height: 59.9rem;
    display: flex;
}

#skills {
    text-align: center;
    margin: 10rem 0;
}
#skills-child {
    display: flex;
    justify-content: space-around;
    margin: 10rem 0;
}
#skills h2 {
    font-size: 3rem;
}
#skills div h4 {
    font-size: 1.3rem;
}
#skills img {
    width: 5rem;
    height: 5rem;
}